
@inject ITransformer transformer

@using Transform
@using Models
@using System.Linq
@using Converter.Data;

<div class="notification is-success is-light has-text-centered">
    <div class="columns">
        <div class="column is-4">
            <p class="control is-size-5">
                <label class="checkbox" title="Check this box to include SI units in dropdown below">
                    <input type="checkbox" @bind="IsSIChecked" class="unittypecheck">
                    International System (SI) Units
                </label>
            </p>
        </div>
        <div class="column is-4">
            <p class="control is-size-5">
                <label class="checkbox" title="Check this box to include नेपाली units in dropdown below">
                    <input type="checkbox" @bind="IsNepaliChecked" class="unittypecheck">
                    चलनचल्तिको नेपाली एकाइहरू
                </label>
            </p>
        </div>
        <div class="column is-4">
            <p class="control is-size-5">
                <label class="checkbox" title="Check this box to include imperial units in dropdown below">
                    <input type="checkbox" @bind="IsImperialChecked" class="unittypecheck">
                    British/US Imperial Units
                </label>
            </p>
        </div>
    </div>
</div>

<div class="notification is-success is-light has-text-centered">
    <div class="columns">
        <div class="column is-5">
            <div class="field has-addons">
                <p class="control">
                    <input class="input is-medium is-primary" type="number" step="any" placeholder="Area"
                           @bind-value="LeftInput"
                           @bind-value:event="oninput">
                </p>
                <p class="control">
                    <span class="select is-warning is-medium">
                        <select @bind="SelectedUnitLeft">
                            @foreach (var item in ToBindOptionUnits)
                            {
                                <option value="@item.Value">@item.Label</option>
                            }
                        </select>
                    </span>
                </p>
            </div>
        </div>
        <div class="column is-2">
            <span class="icon is-large">
                <i class="fas fa-3x fa-hand-point-right"></i>
            </span>
        </div>
        <div class="column is-5">
            <div class="field has-addons">
                <p class="control">
                    <input class="input is-medium is-primary" type="number" step="any" placeholder="Area"
                           @bind-value="RightInput" disabled>
                </p>
                <p class="control">
                    <span class="select is-warning is-medium">
                        <select @bind="SelectedUnitRight">
                            @foreach (var item in ToBindOptionUnits)
                            {
                                <option value="@item.Value">@item.Label</option>
                            }
                        </select>
                    </span>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="notification is-success is-light has-text-centered">
    <OneToManyUnits FromValue="@LeftInput" FromUnit="@SelectedUnitLeft" ToUnitNames="@OptionUnits.Select(x => x.Value).ToArray()" />
</div>

@code {

    [Parameter]
    public DropdownOption[] OptionUnits { get; set; } = Array.Empty<DropdownOption>();

    [Parameter]
    public string UnitLeftDefaultValue { get; set; }

    [Parameter]
    public string UnitRightDefaultValue { get; set; }

    public double LeftInput { get; set; } = 1;

    private double _RightInput;
    public double RightInput
    {
        get => transformer.Transform(LeftInput, SelectedUnitLeft, SelectedUnitRight);
        set => _RightInput = value;
    }

    public string SelectedUnitLeft { get; set; }
    public string SelectedUnitRight { get; set; }

    public bool IsSIChecked { get; set; } = true;
    public bool IsNepaliChecked { get; set; } = true;
    public bool IsImperialChecked { get; set; } = true;

    public IEnumerable<DropdownOption> ToBindOptionUnits
    {
        get
        {
            List<DropdownOption> options = new List<DropdownOption>();
            if (IsSIChecked)
                options.AddRange(OptionUnits.Where(x => x.Type == IData.SI));
            if (IsNepaliChecked)
                options.AddRange(OptionUnits.Where(x => x.Type == IData.Nepali));
            if (IsImperialChecked)
                options.AddRange(OptionUnits.Where(x => x.Type == IData.Imperial));
            return options;
        }
    }

    protected override void OnParametersSet()
    {
        SelectedUnitLeft = UnitLeftDefaultValue;
        SelectedUnitRight = UnitRightDefaultValue;
    }
}
