@page "/si-prefixes"

@inject HttpClient Http

@using Converter.Models

<MudContainer Class="py-3">
    @if (siPrefixes == null)
    {
        <p>Loading...</p>
    }
    else
    {
        <MudSimpleTable Hover="true" 
                        Dense="true" 
                        Elevation="3" 
                        FixedHeader="true"
                        Style="height:500px;">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Symbol</th>
                    <th>Base 10</th>
                    <th><abbr title="Decimal value">Decimal</abbr></th>
                    <th><abbr title="English word">Word</abbr></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in siPrefixes)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.Symbol</td>
                        <td>@((MarkupString)item.Base10)</td>
                        <td>@item.DecimalValue</td>
                        <td>@item.InWords</td>
                    </tr>
                }
            </tbody>
        </MudSimpleTable>
    }
</MudContainer>

@code {

    SIPrefix[] siPrefixes;

    protected override async Task OnInitializedAsync()
    {
        siPrefixes = await Http.GetFromJsonAsync<SIPrefix[]>("data/si-metric-prefixes.json");
    }
}
